# Compiled sources #
####################
*.o
*.exe

# ROOT files #
####################
*.root

# FastJet installation files #
##############################
fastjet

# NetBeans project files #
##########################
nbproject

